USE [Legalacts]
GO
SET IDENTITY_INSERT [dbo].[ActDocuments] ON 

GO
SET IDENTITY_INSERT [dbo].[ActDocuments] OFF
GO
SET IDENTITY_INSERT [dbo].[MotiveDocuments] ON 

GO
SET IDENTITY_INSERT [dbo].[MotiveDocuments] OFF
GO

update Acts set ActDocumentId = 1 where ActId = 49
go
update Acts set ActDocumentId = 2 where ActId = 3
go
update Acts set MotiveDocumentId = 1 where ActId = 49
go
