USE [Legalacts]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedActs](
	[DeletedActId] [int] IDENTITY(1,1) NOT NULL,
	[ActNumber] [int] NULL,
	[CaseNumber] [int] NOT NULL,
	[Judge] [nvarchar](200) NULL,
	[ActKindId] [int] NOT NULL,
	[CaseKindId] [int] NOT NULL,
	[CaseYear] [int] NOT NULL,
	[ActYear] [int] NULL,
	[CourtId] [int] NOT NULL,
	[StartDate] [date] NULL,
	[StatusId] [int] NOT NULL,
	[ResultOfAppeal] [nvarchar](10) NULL,
	[UID] [nvarchar](40) NULL,
	[CreateDate] [datetime2](7) NULL,
	[ModifyDate] [datetime2](7) NULL,
	[EcliCode] [nvarchar](37) NULL,
	[PreviousEcliCode] [nvarchar](37) NULL,
	[IsSynced] [bit] NOT NULL,
 CONSTRAINT [PK_DeletedActs] PRIMARY KEY ( [DeletedActId] ASC ))
GO

ALTER TABLE [dbo].[DeletedActs]  WITH CHECK ADD  CONSTRAINT [FK_DeletedActs_ActKinds] FOREIGN KEY([ActKindId])
REFERENCES [dbo].[ActKinds] ([ActKindId])
GO
ALTER TABLE [dbo].[DeletedActs] CHECK CONSTRAINT [FK_DeletedActs_ActKinds]
GO
ALTER TABLE [dbo].[DeletedActs]  WITH CHECK ADD  CONSTRAINT [FK_DeletedActs_CaseKinds] FOREIGN KEY([CaseKindId])
REFERENCES [dbo].[CaseKinds] ([CaseKindId])
GO
ALTER TABLE [dbo].[DeletedActs] CHECK CONSTRAINT [FK_DeletedActs_CaseKinds]
GO
ALTER TABLE [dbo].[DeletedActs]  WITH CHECK ADD  CONSTRAINT [FK_DeletedActs_Courts] FOREIGN KEY([CourtId])
REFERENCES [dbo].[Courts] ([CourtId])
GO
ALTER TABLE [dbo].[DeletedActs] CHECK CONSTRAINT [FK_DeletedActs_Courts]
GO
ALTER TABLE [dbo].[DeletedActs]  WITH CHECK ADD  CONSTRAINT [FK_DeletedActs_Statuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([StatusId])
GO
ALTER TABLE [dbo].[DeletedActs] CHECK CONSTRAINT [FK_DeletedActs_Statuses]
GO
