<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <location path="." inheritInChildApplications="false">
    <connectionStrings>
      <add name="LegalactsContext" connectionString="Data Source=.;Initial Catalog=Legalacts;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="MaxActItemsPerPage" value="25" />
      <add key="MaxActItems" value="1000" />
      <add key="MaxLogItemsPerPage" value="25" />
      <add key="MaxLogItems" value="1000" />
      <add key="ConnectedActsJobIntervalInHours" value="2" />
      <add key="MailSenderJobIntervalInMinutes" value="1" />
      <add key="FeedbackEmails" value="FeedbackEmails" />
      <add key="EnablePdfConverting" value="false" />
      <add key="Legalacts.Web:HelpDeskDomain" value="HelpDeskDomain" />
      <add key="Legalacts.Web:HelpDeskUsername" value="HelpDeskUsername" />
      <add key="Legalacts.Web:HelpDeskPassword" value="HelpDeskPassword" />
      <add key="Legalacts.Web:HelpDeskClientId" value="HelpDeskClientId" />
      <add key="Legalacts.Web:HelpDeskSecret" value="HelpDeskSecret" />
      <add key="AccessDenyLimit" value="500" />
      <add key="AccessDenyLimitDurationInDays" value="7" />
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" requestPathInvalidCharacters="" />
      <customErrors mode="RemoteOnly" defaultRedirect="~/Error/Error.html">
        <error statusCode="404" redirect="~/Error/Error404.html" />
      </customErrors>
      <authentication mode="Forms">
        <forms loginUrl="~/Admin/Logon" timeout="2880" protection="All" path="/" name="Legalacts.Web" />
      </authentication>
      <membership defaultProvider="SqlMembershipProvider">
        <providers>
          <clear />
          <add name="SqlMembershipProvider" type="Legalacts.Web.Providers.SqlMembershipProvider" connectionStringName="LegalactsContext" passwordFormat="Clear" />
        </providers>
      </membership>
      <roleManager enabled="true" defaultProvider="SqlRoleProvider">
        <providers>
          <clear />
          <add name="SqlRoleProvider" type="Legalacts.Web.Providers.SqlRoleProvider" connectionStringName="LegalactsContext" />
        </providers>
      </roleManager>
      <httpHandlers>
        <add verb="GET" path="captcha.ashx" validate="false" type="Legalacts.Web.Captcha.CaptchaImageHandler, Legalacts.Web" />
      </httpHandlers>
    </system.web>
    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" throwConfigExceptions="true">
      <extensions>
        <add prefix="custom" assembly="Legalacts.Web" />
        <add assembly="NLog.Extended" />
      </extensions>
      <targets>
        <target xsi:type="Database" name="database" dbProvider="System.Data.SqlClient" connectionStringName="LegalactsContext">
          <commandText>
            insert into dbo.SystemLogs ([Level], [LogDate], [IP], [RawUrl], [Form], [UserAgent], [SessionId], [RequestId], [Message]) values (@level, GETDATE(), @ip, @rawUrl, @form, @userAgent, @sessionId, @requestId, @message);
          </commandText>
          <parameter name="@level" layout="${level}" />
          <parameter name="@ip" layout="${aspnet-request:serverVariable=REMOTE_ADDR}" />
          <parameter name="@rawUrl" layout="${aspnet-request:serverVariable=URL}?${aspnet-request:serverVariable=QUERY_STRING}" />
          <parameter name="@form" layout="${custom.requestFormPairs}" />
          <parameter name="@userAgent" layout="${aspnet-request:serverVariable=HTTP_USER_AGENT}" />
          <parameter name="@sessionId" layout="${aspnet-sessionid}" />
          <parameter name="@requestId" layout="${custom.requestId}" />
          <parameter name="@message" layout="${message} ${exception:format=tostring}" />
        </target>
      </targets>
      <rules>
        <logger name="*" minlevel="Info" appendTo="database" />
      </rules>
    </nlog>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="CaptchaImageHandler" verb="GET" path="captcha.ashx" type="Legalacts.Web.Captcha.CaptchaImageHandler, Legalacts.Web" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>